
/********** FONTS **********/


/*

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/OpenSans-ExtraBoldItalic.ttf'); 
    src: local('Open Sans'), local('OpenSans'),
         url('../src/fonts/OpenSans-ExtraBoldItalic.ttf') format('woff2'), 
         url('../src/fonts/OpenSans-ExtraBoldItalic.ttf') format('woff'), 
         url('../src/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'), 
  }
  
  

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/Lora-Regular.ttf'); 
    src: local('Open Sans'), local('OpenSans'),
         url('../src/fonts/Lora-Regular.ttf') format('woff2'), 
         url('../src/fonts/Lora-Regular.ttf') format('woff'), 
         url('../src/fonts/Lora-Regular.ttf') format('truetype'), 
  }
  
  */
  
  
  body {
    background: rgb(18, 90, 153);
    margin: 0;
    font-family: 'Lora';
  }
  
  
  /********** HEADER **********/
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    color: #0E3386;
    font-weight: bold 500;
    font-size: 3.5em;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .header p {
    /* color: #CC3433; */
    color: #0E3386;
    padding-top: 0px;
    font-family: 'Lora';
    font-size: 1.2em;
    padding-bottom: 12px;
  }
  
  
  
  
  /********** GALLERY **********/
  
  .gallery {
    width: 90%;
    max-width: 1300px;
    margin: 1.1em auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .WarframeCard {
    box-sizing: border-box;
    background: rgba(20, 165, 201, 0.459);
    box-shadow: 7px 7px 5px lightslategray;
    border-radius: 10px 10px 10px 10px;
    max-height: 600px;
  /* TIP FOR FUTURE - Setting the max height above connects to the amout of text you want to put in the card. If it starts to overlap and go below the card, increase the max height */
  }
  
  
  /********** FOOTER **********/
  
  .footer {
    text-align: center;
    font-family: 'Lora';
  }
  
  


/* Background color of the warframes picture */
.WarframeCard div {
    background:#eee;
}




  
  /********** WARFRAME STATS AND INFO **********/
  .WarframeCard li {
    list-style-type: none;
    font-family: 'Lora';
    font-weight: 400;
  }
  
  
  /********** PLAYERS NAME **********/
  .WarframeCard h2 {
    text-align: left;
    color: #000;
    line-height: 1;
    font-family: 'Lora';
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 500; /* Add bold here if needed */
    letter-spacing: -0.2px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
  }
  
  
  
  /********** ON HOVER **********/
  
  .WarframeCard:hover {
    transform: scale(1.02);
    box-shadow: 9px 9px 5px lightslategray;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
  }
  
  
  /********** THE PICTURE **********/
  
  /* .WarframeCard div {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    height: 400px;
  } */
  
  .WarframeCard img {
    width: 100%;
    /* height: 60%; */
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
    height: 300px; /* Height of the Warframes image */
  }
  
  
  
  /********** LIST STUFF **********/
  
  ul {
    padding: 0 0 0 1em;
    margin-top: 1em;
  }
  
  li {
    margin-bottom: 0.5em;
  }
  
  
  


  
  
  /* Trying stuff */
  
  
  
  /*
  h2, h4, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  h2, h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /* color: $d1; 
  }
  
  
  h2 {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
  }
  
  p, li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* color: $d2; 
    line-height: 22px;
  }
  
  
  ul, li {
    text-decoration: none;
    list-style: disc outside;
  }
  
  ul {
    padding-left: 20px;
  }
  
  body {
    background-image: linear-gradient(140deg, $l1, $l2);
    margin: 0;
    width: 100vw;
    min-height: 450px;
    height: 100vh;
    /* display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  */